@page
@model CostumerClassModel
@{
    ViewData["Title"] = "Costumer Classification";
}

<div class="row">

    @(Html.DevExtreme().DataGrid()
        .ID("gridContainer")
        .ShowBorders(true)
        .Editing(editing => {
                editing.Mode(GridEditMode.Batch);
                editing.AllowUpdating(true);
        })
        .ColumnChooser(c => c.Enabled(true))
        .DataSource(d => d.RemoteController()
        .LoadUrl(Url.Page("CostumerClass", "Costumers")).Key("cCodTerceiro")
        .UpdateUrl(Url.Page("CostumerClass", "UpdateClassTypes")).Key("cCodTerceiro")) // haven't tried implementing a PUT until I can get the POST to work)
        .Columns(c => {
            c.Add().DataField("cCodTerceiro");
            c.Add().DataField("vcNome");
            c.Add().DataField("vcMorada");
            c.Add().DataField("mSaldo")
            .Alignment(HorizontalAlignment.Right)
                .Format(Format.Currency);
            c.Add().DataField("cClassificacaoFact")
            .Width(125)
                    .Lookup(lookup => lookup
                        .DataSource(d => d.RemoteController().LoadUrl(Url.Page("CostumerClass", "ClassTypes")).Key("vcClassType"))
                        .DisplayExpr("vcClassType")
                        .ValueExpr("vcClassType")
                    );
        }).OnToolbarPreparing("toolbar_preparing")
        .OnContentReady("ready")
    )
</div>
@Html.AntiForgeryToken()

<script>

$.ajaxSetup({
    data: {
        __RequestVerificationToken: document.getElementsByName("__RequestVerificationToken")[0].value
    }
});

function ready(e)
{

}
function toolbar_preparing(e) {
        var dataGrid = e.component;
        
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function() {
                return $("<div/>")
                    .addClass("informer")
                    .append(
                       $("<h2 />")
                         .addClass("count")
                         .text(getTotalCount()),
                       $("<span />")
                         .addClass("name")
                         .text("Total Count")
                    );
            }
        }, {
            location: "before",
            widget: "dxSelectBox",
            options: {
                width: 200,
                items: [{
                    value: "CustomerStoreState",
                    text: "Show All"
                }, {
                    value: "Employee",
                    text: "Show only Unclassified"
                }],
                displayExpr: "text",
                valueExpr: "value",
                value: "CustomerStoreState",
                onValueChanged: function(e) {
                   // dataGrid.clearGrouping();
                   // dataGrid.columnOption(e.value, "groupIndex", 0);
                    $(".informer .count").text(getTotalCount());
                }
            }
        }, {
            location: "before",
            widget: "dxButton",
            options: {
                text: "Collapse All",
                width: 136,
                onClick: function(e) {
                    var expanding = e.component.option("text") === "Expand All";
                    dataGrid.option("grouping.autoExpandAll", expanding);
                    e.component.option("text", expanding ? "Collapse All" : "Expand All");
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                onClick: function() {
                    dataGrid.refresh();
                }
            }
        });
    }

    function getTotalCount() {
       
        var coiso = $("#gridContainer").dxDataGrid("instance");

        
        return coiso.totalCount();
    }
</script>
